{% load static %}
{% load i18n %}
<header class="header-five">
    
    <!--Logo Mainmenu Start-->
    <div class="header-logo-menu sticker">
        <div class="container">
            <div class="logo-menu-bg">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="{% url 'school:home' %}"><img src="{% static 'img/logo/logo-notext.png' %}" alt="TECHEDU"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block">
                        <div class="mainmenu-area">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        <li class="current"><a href="{% url 'school:home' %}">Bosh sahifa</a></li>
                                        <li><a href="#">{% trans "Biz haqimizda" %}</a></li>
                                        <li><a href="#">{% trans "Maktab" %} <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="{% url 'school:school_class_list' %}">Sinflar</a></li>
                                                <li><a href="{% url 'school:teachers' %}">O'qituvchilar</a></li>
                                                <li><a href="{% url 'news:news_list' %}">Yangiliklar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'school:home' %}#services">Xizmatlar</a></li>
                                        <li><a href="{% url 'school:gallery_list' %}">Galereya</a></li>
                                        
                                        <li><a href="{% url 'school:home' %}#contact">Aloqa</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <ul class="header-search">
                                <li class="search-menu">
                                    <i id="toggle-search" class="fa fa-search"></i>
                                </li>
                            </ul>
                            <!--Search Form-->
                            <div class="search">
                                <div class="search-form">
                                    <form id="search-form" action="#">
                                        <input type="search" placeholder="Search here..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!--End of Search Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Logo Mainmenu-->
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul id="nav">
                                <li class="current"><a href="{% url 'school:home' %}">Bosh sahifa</a></li>
                                <li><a href="#">{% trans "Biz haqimizda" %}</a></li>
                                <li><a href="#">{% trans "Maktab" %} <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'school:school_class_list' %}">Sinflar</a></li>
                                        <li><a href="{% url 'school:teachers' %}">O'qituvchilar</a></li>
                                        <li><a href="{% url 'news:news_list' %}">Yangiliklar</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'school:home' %}#services">Xizmatlar</a></li>
                                <li><a href="{% url 'school:gallery_list' %}">Galereya</a></li>
                                <li><a href="{% url 'school:home' %}#contact">Aloqa</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->
</header>