{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "Yangiliklar ro'yxati" %} {% endblock %}

{% block content %}
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">{% trans "Yangiliklar" %}</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'school:home' %}">{% trans "bosh sahifa" %}</a></li>
                            <li>{% trans "Yangiliklar" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Blog Fullwidth Area Start-->
<div class="blog-fullwidth-area section-padding blog-two">
    <div class="container">
        <div class="row">
            {% for new in news %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item overlay-hover">
                    <div class="single-blog-image">
                        <div class="overlay-effect">
                            <a href="{% url 'news:news_detail' new.slug %}">
                                <img src="{{ new.image.url }}" alt="Yangilik rasmi">
                                <span class="class-date">{{ new.get_formatted_date }} <span>{{ new.get_formatted_year }}</span></span>
                            </a>
                        </div>
                    </div>
                    <div class="single-blog-text">
                        <h4><a href="{% url 'news:news_detail' new.slug %}">{{ new.title }}</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>{{ new.created|date}}</span>
                        </div>
                        <p>{{ new.content|truncatewords:5|safe }}</p>
                        <a href="{% url 'news:news_detail' new.slug %}">{% trans "ko'proq o'qish" %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-content">
                    <div class="pagination-button">
                        <ul class="pagination">
                            {% if news.has_previous %}
                            <li><a href="?page={{ news.previous_page_number }}"><i class="fa fa-caret-left"></i></a></li>
                            {% else %}
                            <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
                            {% endif %}


                            {% for page_item in news.paginator.page_range %}
                            {% if page_item == news.number %}
                            <li class="current"><a href="?page={{ page_item }}">{{ page_item }}</a></li>
                            {% else %}
                            <li><a href="?page={{ page_item }}">{{ page_item }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if news.has_next %}
                            <li><a href="?page={{ news.next_page_number }}"><i class="fa fa-caret-right"></i></a></li>
                            {% else %}
                            <li class="disabled"><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            {% endif %}
                        </ul>
                        <span>{% trans "Sahifa" %}:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Blog Fullwidth Area-->
{% endblock %}